---
http_interactions:
- request:
    method: post
    uri: https://sandbox.fundamerica.com/api/ach_authorizations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic TGJNMi1JMGRnZ01kRVA1RXRNSzFOczJrc3F4T2tDZlY6
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
    body:
      encoding: UTF-8
      string: '{"ach_authorization":{"entity_id":["is not a valid resource ID"],"account_number":["is
        not a valid account number for ACH"],"account_type":["is not included in the
        list"],"check_type":["is not included in the list"],"name_on_account":["can''t
        be blank"],"routing_number":["is not a valid ABA routing number"],"address":["can''t
        be blank"],"city":["can''t be blank"],"email":["is invalid"],"ip_address":["is
        not a valid IP address"],"literal":["can''t be blank"],"zip_code":["can''t
        be blank"]}}'
  recorded_at: Wed, 08 Apr 2020 22:09:16 GMT
recorded_with: VCR 4.0.0
