---
http_interactions:
- request:
    method: post
    uri: https://sandbox.fundamerica.com/api/entities
    body:
      encoding: UTF-8
      string: city=Las%20Vegas&country=US&date_of_birth=1980-01-01&email=investor1568792602%40test.com&name=Investor%201568792602&phone=17025551212&postal_code=89123&region=NV&street_address_1=555%20Some%20St&tax_id_number=000000000
    headers:
      Authorization:
      - Basic TGJNMi1JMGRnZ01kRVA1RXRNSzFOczJrc3F4T2tDZlY6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"29207b75ecb2eecc7fc52a038fbdcaf7"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"entity","id":"2rMAs_kjTmqeV4IwMfwchw","url":"https://sandbox.fundamerica.com/api/entities/2rMAs_kjTmqeV4IwMfwchw","broker_dealer_customer":false,"building_name":null,"created_at":"2019-09-18T07:43:23.227Z","city":"Las
        Vegas","contact_name":null,"country":"US","date_of_birth":"1980-01-01","email":"investor1568792602@test.com","name":"Investor
        1568792602","phone":"17025551212","platform_investor_url":"https://sandbox.fundamerica.com/api/entities/2rMAs_kjTmqeV4IwMfwchw/platform_investor","postal_code":"89123","region":"NV","region_formed_in":null,"street_address_1":"555
        Some St","street_address_2":null,"street_name":null,"street_number":null,"street_type":null,"tax_id_number":"000000000","type":"person","unit_number":null,"updated_at":"2019-09-18T07:43:23.227Z"}'
  recorded_at: Wed, 18 Sep 2019 07:43:23 GMT
- request:
    method: post
    uri: https://sandbox.fundamerica.com/api/investors
    body:
      encoding: UTF-8
      string: primary_entity_id=2rMAs_kjTmqeV4IwMfwchw
    headers:
      Authorization:
      - Basic TGJNMi1JMGRnZ01kRVA1RXRNSzFOczJrc3F4T2tDZlY6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f2e10fcab6fc3332695aba9a372f1c5a"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"investor","id":"LnMIXScHS3mHC1sz6OlrnA","url":"https://sandbox.fundamerica.com/api/investors/LnMIXScHS3mHC1sz6OlrnA","accreditation_type":"non_accredited","accredited":false,"annual_income":null,"custodian_entity_url":null,"entity_urls":["https://sandbox.fundamerica.com/api/entities/2rMAs_kjTmqeV4IwMfwchw"],"exempt_from_withholding":true,"name":"Investor
        1568792602","net_worth":null,"primary_entity_url":"https://sandbox.fundamerica.com/api/entities/2rMAs_kjTmqeV4IwMfwchw","type":"person","us_citizen_or_resident":true,"vesting_name":"Investor
        1568792602"}'
  recorded_at: Wed, 18 Sep 2019 07:43:23 GMT
recorded_with: VCR 4.0.0
