---
http_interactions:
- request:
    method: get
    uri: https://sandbox.fundamerica.com/api/investments/uP0DmH10Rdiw6V6pUNlbzA/investment_payments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic TGJNMi1JMGRnZ01kRVA1RXRNSzFOczJrc3F4T2tDZlY6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"be23aac1b3b722337fed1e0dcf440b33"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"resource_list","total_resources":0,"page":1,"per":25,"more":false,"resources":[]}'
  recorded_at: Thu, 19 Sep 2019 09:35:18 GMT
recorded_with: VCR 4.0.0
