---
http_interactions:
- request:
    method: post
    uri: https://sandbox.fundamerica.com/api/entities
    body:
      encoding: UTF-8
      string: city=Las%20Vegas&country=US&date_of_birth=1980-01-01&email=investor1568792600%40test.com&name=Investor%201568792600&phone=17025551212&postal_code=89123&region=NV&street_address_1=555%20Some%20St&tax_id_number=000000000
    headers:
      Authorization:
      - Basic TGJNMi1JMGRnZ01kRVA1RXRNSzFOczJrc3F4T2tDZlY6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"acc7a6b97fe3669685cb89b95bd7ce57"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"entity","id":"d9o_Bg6gQ4apmO5Pytirlw","url":"https://sandbox.fundamerica.com/api/entities/d9o_Bg6gQ4apmO5Pytirlw","broker_dealer_customer":false,"building_name":null,"created_at":"2019-09-18T07:43:21.427Z","city":"Las
        Vegas","contact_name":null,"country":"US","date_of_birth":"1980-01-01","email":"investor1568792600@test.com","name":"Investor
        1568792600","phone":"17025551212","platform_investor_url":"https://sandbox.fundamerica.com/api/entities/d9o_Bg6gQ4apmO5Pytirlw/platform_investor","postal_code":"89123","region":"NV","region_formed_in":null,"street_address_1":"555
        Some St","street_address_2":null,"street_name":null,"street_number":null,"street_type":null,"tax_id_number":"000000000","type":"person","unit_number":null,"updated_at":"2019-09-18T07:43:21.427Z"}'
  recorded_at: Wed, 18 Sep 2019 07:43:21 GMT
- request:
    method: post
    uri: https://sandbox.fundamerica.com/api/investors
    body:
      encoding: UTF-8
      string: primary_entity_id=d9o_Bg6gQ4apmO5Pytirlw
    headers:
      Authorization:
      - Basic TGJNMi1JMGRnZ01kRVA1RXRNSzFOczJrc3F4T2tDZlY6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7a213cdfd43f6deb0dfca51d3003a205"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"investor","id":"aoCQKRawQqyk8SNvvvfIDg","url":"https://sandbox.fundamerica.com/api/investors/aoCQKRawQqyk8SNvvvfIDg","accreditation_type":"non_accredited","accredited":false,"annual_income":null,"custodian_entity_url":null,"entity_urls":["https://sandbox.fundamerica.com/api/entities/d9o_Bg6gQ4apmO5Pytirlw"],"exempt_from_withholding":true,"name":"Investor
        1568792600","net_worth":null,"primary_entity_url":"https://sandbox.fundamerica.com/api/entities/d9o_Bg6gQ4apmO5Pytirlw","type":"person","us_citizen_or_resident":true,"vesting_name":"Investor
        1568792600"}'
  recorded_at: Wed, 18 Sep 2019 07:43:22 GMT
- request:
    method: get
    uri: https://sandbox.fundamerica.com/api/investors/aoCQKRawQqyk8SNvvvfIDg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic TGJNMi1JMGRnZ01kRVA1RXRNSzFOczJrc3F4T2tDZlY6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7a213cdfd43f6deb0dfca51d3003a205"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"investor","id":"aoCQKRawQqyk8SNvvvfIDg","url":"https://sandbox.fundamerica.com/api/investors/aoCQKRawQqyk8SNvvvfIDg","accreditation_type":"non_accredited","accredited":false,"annual_income":null,"custodian_entity_url":null,"entity_urls":["https://sandbox.fundamerica.com/api/entities/d9o_Bg6gQ4apmO5Pytirlw"],"exempt_from_withholding":true,"name":"Investor
        1568792600","net_worth":null,"primary_entity_url":"https://sandbox.fundamerica.com/api/entities/d9o_Bg6gQ4apmO5Pytirlw","type":"person","us_citizen_or_resident":true,"vesting_name":"Investor
        1568792600"}'
  recorded_at: Wed, 18 Sep 2019 07:43:22 GMT
recorded_with: VCR 4.0.0
