---
http_interactions:
- request:
    method: post
    uri: https://sandbox.fundamerica.com/api/entities
    body:
      encoding: UTF-8
      string: city=Las%20Vegas&country=US&date_of_birth=1980-01-01&email=investor1568792241%40test.com&name=Investor%201568792241&phone=17025551212&postal_code=89123&region=NV&street_address_1=555%20Some%20St&tax_id_number=000000000
    headers:
      Authorization:
      - Basic TGJNMi1JMGRnZ01kRVA1RXRNSzFOczJrc3F4T2tDZlY6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"be9a788d683b8140ee53d92147a4fec0"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"entity","id":"Sxdl4W6dRF-fdQq40Wf-oQ","url":"https://sandbox.fundamerica.com/api/entities/Sxdl4W6dRF-fdQq40Wf-oQ","broker_dealer_customer":false,"building_name":null,"created_at":"2019-09-18T07:37:22.100Z","city":"Las
        Vegas","contact_name":null,"country":"US","date_of_birth":"1980-01-01","email":"investor1568792241@test.com","name":"Investor
        1568792241","phone":"17025551212","platform_investor_url":"https://sandbox.fundamerica.com/api/entities/Sxdl4W6dRF-fdQq40Wf-oQ/platform_investor","postal_code":"89123","region":"NV","region_formed_in":null,"street_address_1":"555
        Some St","street_address_2":null,"street_name":null,"street_number":null,"street_type":null,"tax_id_number":"000000000","type":"person","unit_number":null,"updated_at":"2019-09-18T07:37:22.100Z"}'
  recorded_at: Wed, 18 Sep 2019 07:37:22 GMT
- request:
    method: patch
    uri: https://sandbox.fundamerica.com/api/entities/Sxdl4W6dRF-fdQq40Wf-oQ
    body:
      encoding: UTF-8
      string: city=New%20York
    headers:
      Authorization:
      - Basic TGJNMi1JMGRnZ01kRVA1RXRNSzFOczJrc3F4T2tDZlY6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5ed827b705cba69f1b5348a90d3bcbe2"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"entity","id":"Sxdl4W6dRF-fdQq40Wf-oQ","url":"https://sandbox.fundamerica.com/api/entities/Sxdl4W6dRF-fdQq40Wf-oQ","broker_dealer_customer":false,"building_name":null,"created_at":"2019-09-18T07:37:22.100Z","city":"New
        York","contact_name":null,"country":"US","date_of_birth":"1980-01-01","email":"investor1568792241@test.com","name":"Investor
        1568792241","phone":"17025551212","platform_investor_url":"https://sandbox.fundamerica.com/api/entities/Sxdl4W6dRF-fdQq40Wf-oQ/platform_investor","postal_code":"89123","region":"NV","region_formed_in":null,"street_address_1":"555
        Some St","street_address_2":null,"street_name":null,"street_number":null,"street_type":null,"tax_id_number":"000000000","type":"person","unit_number":null,"updated_at":"2019-09-18T07:37:22.100Z"}'
  recorded_at: Wed, 18 Sep 2019 07:37:22 GMT
- request:
    method: get
    uri: https://sandbox.fundamerica.com/api/entities/Sxdl4W6dRF-fdQq40Wf-oQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic TGJNMi1JMGRnZ01kRVA1RXRNSzFOczJrc3F4T2tDZlY6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7b1c90a5149d5edd8e9923b667567d1c"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"entity","id":"Sxdl4W6dRF-fdQq40Wf-oQ","url":"https://sandbox.fundamerica.com/api/entities/Sxdl4W6dRF-fdQq40Wf-oQ","broker_dealer_customer":false,"building_name":null,"created_at":"2019-09-18T07:37:22.100Z","city":"New
        York","contact_name":null,"country":"US","date_of_birth":"1980-01-01","email":"investor1568792241@test.com","name":"Investor
        1568792241","phone":"17025551212","platform_investor_url":"https://sandbox.fundamerica.com/api/entities/Sxdl4W6dRF-fdQq40Wf-oQ/platform_investor","postal_code":"89123","region":"NV","region_formed_in":null,"street_address_1":"555
        Some St","street_address_2":null,"street_name":null,"street_number":null,"street_type":null,"tax_id_number":"000000000","type":"person","unit_number":null,"updated_at":"2019-09-18T07:37:22.689Z"}'
  recorded_at: Wed, 18 Sep 2019 07:37:23 GMT
recorded_with: VCR 4.0.0
