---
http_interactions:
- request:
    method: post
    uri: https://sandbox.fundamerica.com/api/entities
    body:
      encoding: UTF-8
      string: city=Las%20Vegas&country=US&date_of_birth=1980-01-01&email=investor1568792604%40test.com&name=Investor%201568792604&phone=17025551212&postal_code=89123&region=NV&street_address_1=555%20Some%20St&tax_id_number=000000000
    headers:
      Authorization:
      - Basic TGJNMi1JMGRnZ01kRVA1RXRNSzFOczJrc3F4T2tDZlY6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"787685d8cbc17921b13f7b2ce3977e50"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"entity","id":"hHTftHt-RuCLmF7GJxHTkQ","url":"https://sandbox.fundamerica.com/api/entities/hHTftHt-RuCLmF7GJxHTkQ","broker_dealer_customer":false,"building_name":null,"created_at":"2019-09-18T07:43:25.000Z","city":"Las
        Vegas","contact_name":null,"country":"US","date_of_birth":"1980-01-01","email":"investor1568792604@test.com","name":"Investor
        1568792604","phone":"17025551212","platform_investor_url":"https://sandbox.fundamerica.com/api/entities/hHTftHt-RuCLmF7GJxHTkQ/platform_investor","postal_code":"89123","region":"NV","region_formed_in":null,"street_address_1":"555
        Some St","street_address_2":null,"street_name":null,"street_number":null,"street_type":null,"tax_id_number":"000000000","type":"person","unit_number":null,"updated_at":"2019-09-18T07:43:25.000Z"}'
  recorded_at: Wed, 18 Sep 2019 07:43:25 GMT
- request:
    method: post
    uri: https://sandbox.fundamerica.com/api/investors
    body:
      encoding: UTF-8
      string: primary_entity_id=hHTftHt-RuCLmF7GJxHTkQ
    headers:
      Authorization:
      - Basic TGJNMi1JMGRnZ01kRVA1RXRNSzFOczJrc3F4T2tDZlY6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5c6a8e3b7012211c26a3459b9d413c85"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"investor","id":"XU8_aIc7TQi-fVS1zjZ3OA","url":"https://sandbox.fundamerica.com/api/investors/XU8_aIc7TQi-fVS1zjZ3OA","accreditation_type":"non_accredited","accredited":false,"annual_income":null,"custodian_entity_url":null,"entity_urls":["https://sandbox.fundamerica.com/api/entities/hHTftHt-RuCLmF7GJxHTkQ"],"exempt_from_withholding":true,"name":"Investor
        1568792604","net_worth":null,"primary_entity_url":"https://sandbox.fundamerica.com/api/entities/hHTftHt-RuCLmF7GJxHTkQ","type":"person","us_citizen_or_resident":true,"vesting_name":"Investor
        1568792604"}'
  recorded_at: Wed, 18 Sep 2019 07:43:25 GMT
- request:
    method: patch
    uri: https://sandbox.fundamerica.com/api/investors/XU8_aIc7TQi-fVS1zjZ3OA
    body:
      encoding: UTF-8
      string: accreditation_type=individual_net_worth&accredited=true
    headers:
      Authorization:
      - Basic TGJNMi1JMGRnZ01kRVA1RXRNSzFOczJrc3F4T2tDZlY6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"00c8c93f9ce8873565cadd80af6b22ef"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"investor","id":"XU8_aIc7TQi-fVS1zjZ3OA","url":"https://sandbox.fundamerica.com/api/investors/XU8_aIc7TQi-fVS1zjZ3OA","accreditation_type":"individual_net_worth","accredited":true,"annual_income":null,"custodian_entity_url":null,"entity_urls":["https://sandbox.fundamerica.com/api/entities/hHTftHt-RuCLmF7GJxHTkQ"],"exempt_from_withholding":true,"name":"Investor
        1568792604","net_worth":null,"primary_entity_url":"https://sandbox.fundamerica.com/api/entities/hHTftHt-RuCLmF7GJxHTkQ","type":"person","us_citizen_or_resident":true,"vesting_name":"Investor
        1568792604"}'
  recorded_at: Wed, 18 Sep 2019 07:43:26 GMT
recorded_with: VCR 4.0.0
