---
http_interactions:
- request:
    method: post
    uri: https://sandbox.fundamerica.com/api/entities
    body:
      encoding: UTF-8
      string: city=Las%20Vegas&country=US&date_of_birth=1980-01-01&email=investor1568792606%40test.com&name=Investor%201568792606&phone=17025551212&postal_code=89123&region=NV&street_address_1=555%20Some%20St&tax_id_number=000000000
    headers:
      Authorization:
      - Basic TGJNMi1JMGRnZ01kRVA1RXRNSzFOczJrc3F4T2tDZlY6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"2054b6ea672b85b0c451c04292002729"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"entity","id":"-y76CeoiT1-NFG1USSnrlA","url":"https://sandbox.fundamerica.com/api/entities/-y76CeoiT1-NFG1USSnrlA","broker_dealer_customer":false,"building_name":null,"created_at":"2019-09-18T07:43:26.813Z","city":"Las
        Vegas","contact_name":null,"country":"US","date_of_birth":"1980-01-01","email":"investor1568792606@test.com","name":"Investor
        1568792606","phone":"17025551212","platform_investor_url":"https://sandbox.fundamerica.com/api/entities/-y76CeoiT1-NFG1USSnrlA/platform_investor","postal_code":"89123","region":"NV","region_formed_in":null,"street_address_1":"555
        Some St","street_address_2":null,"street_name":null,"street_number":null,"street_type":null,"tax_id_number":"000000000","type":"person","unit_number":null,"updated_at":"2019-09-18T07:43:26.813Z"}'
  recorded_at: Wed, 18 Sep 2019 07:43:26 GMT
- request:
    method: post
    uri: https://sandbox.fundamerica.com/api/investors
    body:
      encoding: UTF-8
      string: primary_entity_id=-y76CeoiT1-NFG1USSnrlA
    headers:
      Authorization:
      - Basic TGJNMi1JMGRnZ01kRVA1RXRNSzFOczJrc3F4T2tDZlY6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5d85e153261ebea0693aa5201b8cc8f2"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"investor","id":"bD0Rf8mERky-SvbVHSYmLg","url":"https://sandbox.fundamerica.com/api/investors/bD0Rf8mERky-SvbVHSYmLg","accreditation_type":"non_accredited","accredited":false,"annual_income":null,"custodian_entity_url":null,"entity_urls":["https://sandbox.fundamerica.com/api/entities/-y76CeoiT1-NFG1USSnrlA"],"exempt_from_withholding":true,"name":"Investor
        1568792606","net_worth":null,"primary_entity_url":"https://sandbox.fundamerica.com/api/entities/-y76CeoiT1-NFG1USSnrlA","type":"person","us_citizen_or_resident":true,"vesting_name":"Investor
        1568792606"}'
  recorded_at: Wed, 18 Sep 2019 07:43:27 GMT
- request:
    method: patch
    uri: https://sandbox.fundamerica.com/api/investors/bD0Rf8mERky-SvbVHSYmLg
    body:
      encoding: UTF-8
      string: accreditation_type=individual_net_worth&accredited=true
    headers:
      Authorization:
      - Basic TGJNMi1JMGRnZ01kRVA1RXRNSzFOczJrc3F4T2tDZlY6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ed737e5056e3f3c3c403dd62b040fd54"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"investor","id":"bD0Rf8mERky-SvbVHSYmLg","url":"https://sandbox.fundamerica.com/api/investors/bD0Rf8mERky-SvbVHSYmLg","accreditation_type":"individual_net_worth","accredited":true,"annual_income":null,"custodian_entity_url":null,"entity_urls":["https://sandbox.fundamerica.com/api/entities/-y76CeoiT1-NFG1USSnrlA"],"exempt_from_withholding":true,"name":"Investor
        1568792606","net_worth":null,"primary_entity_url":"https://sandbox.fundamerica.com/api/entities/-y76CeoiT1-NFG1USSnrlA","type":"person","us_citizen_or_resident":true,"vesting_name":"Investor
        1568792606"}'
  recorded_at: Wed, 18 Sep 2019 07:43:28 GMT
- request:
    method: get
    uri: https://sandbox.fundamerica.com/api/investors/bD0Rf8mERky-SvbVHSYmLg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic TGJNMi1JMGRnZ01kRVA1RXRNSzFOczJrc3F4T2tDZlY6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ed737e5056e3f3c3c403dd62b040fd54"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"investor","id":"bD0Rf8mERky-SvbVHSYmLg","url":"https://sandbox.fundamerica.com/api/investors/bD0Rf8mERky-SvbVHSYmLg","accreditation_type":"individual_net_worth","accredited":true,"annual_income":null,"custodian_entity_url":null,"entity_urls":["https://sandbox.fundamerica.com/api/entities/-y76CeoiT1-NFG1USSnrlA"],"exempt_from_withholding":true,"name":"Investor
        1568792606","net_worth":null,"primary_entity_url":"https://sandbox.fundamerica.com/api/entities/-y76CeoiT1-NFG1USSnrlA","type":"person","us_citizen_or_resident":true,"vesting_name":"Investor
        1568792606"}'
  recorded_at: Wed, 18 Sep 2019 07:43:28 GMT
recorded_with: VCR 4.0.0
