---
http_interactions:
- request:
    method: post
    uri: https://sandbox.fundamerica.com/api/entities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic TGJNMi1JMGRnZ01kRVA1RXRNSzFOczJrc3F4T2tDZlY6
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
    body:
      encoding: UTF-8
      string: '{"entity":{"city":["can''t be blank"],"postal_code":["can''t be blank"],"region":["must
        be a valid US postal abbreviation (e.g. \"NY\")"],"street_address_1":["can''t
        be blank"],"email":["is invalid"],"name":["can''t be blank"],"phone":["can''t
        be blank"]}}'
  recorded_at: Tue, 17 Sep 2019 06:53:56 GMT
recorded_with: VCR 4.0.0
