---
http_interactions:
- request:
    method: get
    uri: https://sandbox.fundamerica.com/api/investments/uP0DmH10Rdiw6V6pUNlbzA/crypto_wallets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic TGJNMi1JMGRnZ01kRVA1RXRNSzFOczJrc3F4T2tDZlY6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"be23aac1b3b722337fed1e0dcf440b33"
    body:
      encoding: ASCII-8BIT
      string: '{"object":"resource_list", "total_resources":1, "page":1, "per":25, "more":false, "resources":[{"object":"crypto_wallet", "id":"lA3myBH2RyucZlQNNXdSYg", "url":"https://apps.fundamerica.com/api/crypto_wallets/lA3myBH2RyucZlQNNXdSYg", "address":"32bZhdXJmWV1fbfd2HS6SNnpA1fqawcfC7", "created_at":"2020-03-12T07:50:07.994Z", "crypto_amount":"0.193001662409277054697319872", "qr_bin_url":"https://fundamerica.s3.amazonaws.com/uploads/crypto_wallets/940de6c8-11f6-472b-9c66-540d35775262.?X-Amz-Expires=900&X-Amz-Date=20200312T075038Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAI4JPNQ7SFOJLHQSA/20200312/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=af14746a5cb53a8dfe372692d9385c6785a4aa4721cfb89491251505b2af4b8d", "type":"bitcoin"}]}'
  recorded_at: Thu, 12 Mar 2020 08:55:59 GMT
recorded_with: VCR 4.0.0
